/**

/* Variables */

$fontPrimary: "Georgia", serif!default;
$fontSecondary: "Helvetica Neue", sans-serif!default;
$fontCode: "Menlo", monospace!default;

$baseUnit: 16px!default;

$fontSizes: (
  base: $baseUnit,
  h3: 21px,
  h2: 28px,
  h1: 37px
)!default;

$colorMain: #000!default;
$colorLight: #999!default;

/**
 * General adjustments
 */

/* Adjust default margin */

@page {
  size: auto;
  margin: 20mm;
}

/* Remove margin/padding from body */

body {
  margin: 0;
  padding: 0;
}

/* The `.unprintable` class is used to hide
   elements from print layout. */

.unprintable {
  display: none;
}

/**
 * Fonts & font sizes
 */

/* Set fonts and base line-height */

html {
  font-family: $fontSecondary;
  line-height: 1.5;
  color: $colorMain;
}

ul, ol, p, blockquote {
  font-family: $fontPrimary;
}

code {
  font-family: $fontCode;
}
