/**
 * universal-print.scss
 *
 * Author: Marian Friedmann
 * Version: 1.0.0
 * Licence: MIT
 *
 * universal-print.scss aims to provide simple print styles to existing
 * projects. Elements such as header, footer, sidebars are simply removed
 * so that only the relevant content is printed.
 *
 * Usage:
 *
 * Make sure to add `media="screen"` to your existing stylesheet. This
 * prevents the screen styles from 'spilling' into the print styles.
 *
 * Add the following line right below:
 *
 *   <link rel="stylesheet" href="path/to/print.css" media="print">
 *
 * Either use the '.unprintable' class to hide elements from print layout,
 * or hide the elements in your styles; e.g.:
 *
 * @media print {
 *   .site-header,
 *   .main-nav,
 *   .footer-nav {
 *     display: none !important;
 *   }
 * }
 */

/* Variables */

$fontPrimary: "Georgia", serif!default;
$fontSecondary: "Helvetica Neue", sans-serif!default;
$fontCode: "Menlo", monospace!default;

$baseUnit: 16px!default;

$fontSizes: (
  base: $baseUnit,
  h3: 21px,
  h2: 28px,
  h1: 37px
)!default;

$colorMain: #000!default;
$colorLight: #999!default;

/**
 * General adjustments
 */

/* Adjust default margin */

@page {
  size: auto;
  margin: 20mm;
}

/* Remove margin/padding from body */

body {
  margin: 0;
  padding: 0;
}

/* The `.unprintable` class is used to hide
   elements from print layout. */

.unprintable {
  display: none;
}

/**
 * Fonts & font sizes
 */

/* Set fonts and base line-height */

html {
  font-family: $fontSecondary;
  line-height: 1.5;
  color: $colorMain;
}

ul, ol, p, blockquote {
  font-family: $fontPrimary;
}

code {
  font-family: $fontCode;
}

/* Set font sizes */

body       { font-size: map-get($fontSizes, base); }
h1         { font-size: map-get($fontSizes, h1); }
h2         { font-size: map-get($fontSizes, h2); }
h3         { font-size: map-get($fontSizes, h3); }
h4, h5, h6 { font-size: map-get($fontSizes, base); }

/* Add bottom margin to common block level elements */

h1, h2, h3, h4, h5, h6, ul, ol, p, blockquote, pre {
  margin-bottom: $baseUnit;
}

/* Add top space to heading levels 1 - 3 in order
   to make them stand out more */

h1, h2, h3 {
  margin-top: $baseUnit * 2;
}

/**
 * Code & codeblocks
 */

code {
  color: $colorLight;
  font-size: ceil(map-get($fontSizes, base) / 8 * 7);
}

pre {
  border: 1px solid $colorLight;
  padding: 10px;
  display: block;
}

pre code {
  white-space: pre-line;
  word-break: break-all;
}

/**
 * Blockquotes
 */

blockquote {
  font-style: italic;
  margin-left: 1em;
  font-size: 21px;
}

/**
 * Images
 */

img {
  max-width: 100%;
  margin: 0 auto;
}

/**
 * Links
 */

a {
  background: transparent;
  text-decoration:none;
  color: blue;
  &[href^="http://"]:after,
  &[href^="https://"]:after {
    content: "\a0[" attr(href) "] ";
    color: $colorLight;
    font-size: small;
    word-break: break-word;
  }
}

/**
 * Pagination
 */

/* Avoid page breaks after headings */

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

/* Avoid orphans and widows */

p {
  orphans: 3;
  widows: 2;
}

/* Avoid page breaks inside and before code blocks */

pre {
  page-break-before: avoid;
  page-break-inside: avoid;
}

hr {
  background-color: transparent;
  border: none;
  border-top: 1px solid $colorLight;
  margin: 30px 0;
}
