/**

/* Variables */

$fontPrimary: "Georgia", serif!default;
$fontSecondary: "Helvetica Neue", sans-serif!default;
$fontCode: "Menlo", monospace!default;
 * General adjustments
 */

/* Adjust default margin */

@page {
  size: auto;
  margin: 20mm;
}

/* Remove margin/padding from body */

body {
  margin: 0;
  padding: 0;
}

/* The `.unprintable` class is used to hide
   elements from print layout. */

.unprintable {
  display: none;
}
